
#main-navbar {
    background-color: rgb(14, 76, 96);
    overflow: hidden;
    padding: 10px;
}
#navbar-container {
    width: 100%;
    position: relative;
    text-align: center;   
}
#main-navbar ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
#main-navbar ul li {
    float: left;
}
/* main-navbar ul li a display: */
#main-navbar ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
#main-navbar ul li a:hover {
    text-decoration: underline;
}